.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* register css */
.bg-light {
    background-color: #ffff !important;
}
body {
	color: #fff;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 600px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: black;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
	font-weight: bold;
}
/* .signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	 */
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: white;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input {
	margin-top: 3px;
	text-decoration: none;
	outline: none;
    border: 2px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: rgb(88, 86, 86);
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
} 
/* login css */
.login-form {
    width: 400px;
    margin: 30px auto;
}
.login-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .login-btn {
    border-radius: 2px;
}
.input-group-prepend .fa {
    font-size: 18px;
}
.login-btn {
    font-size: 15px;
    font-weight: bold;
  	min-height: 40px;
}
.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}
.social-btn .btn:hover {
    opacity: 0.9;
}
.social-btn .btn-secondary, .social-btn .btn-secondary:active {
    background: #507cc0 !important;
}
.social-btn .btn-info, .social-btn .btn-info:active {
    background: #64ccf1 !important;
}
.social-btn .btn-danger, .social-btn .btn-danger:active {
    background: #df4930 !important;
}
.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}   
/* About css */


h2 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin-top: 1em!important;
}
.h2{
	margin-top: 1em!important;
}

.carousel {
	width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 340px;
	margin-top: 2em;
}
.carousel .carousel-item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px!important;
	height: 30px!important;
	border-radius: 50%!important;
	background: #999!important;
	text-shadow: none!important;
	top: 4px!important;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 20px!important;
	margin-right: 2px!important;
}
.carousel-control-prev {
	left: auto!important;
	right: 40px!important;
}
.carousel-control-next i {
	margin-right: -2px!important;
}
.carousel .carousel-indicators {
	bottom: 15px!important;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px!important;
	height: 1px!important;
	margin: 1px 5px!important;
	border-radius: 50%!important;
}
.carousel-indicators li {	
	background: #e2e2e2!important;
	border: none!important;
}
.carousel-indicators li.active {		
	background: #888!important;		
}
.signup-form input[type="submit"]{
background-color: rgb(87, 87, 238);
color: white;
width:100px;
height:35px;
border-radius: 3px;
letter-spacing: 0.5px;
}
.signin-form{
	width: 600px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signin-form h2 {
	color: black;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
	font-weight: bold;
}
.signin-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signin-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: white;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
	padding: 30px;
	
}
.signin-form .form-group {
	margin-bottom: 20px;
}
.signin-form input {
	margin-top: 3px;
	text-decoration: none;
	outline: none;
    border: 2px;
}
.signin-form input[type="submit"]{
	background-color: rgb(87, 87, 238);
	color: white;
	width:100px;
	height:35px;
	border-radius: 3px;
	letter-spacing: 0.5px;
	margin-right: 20px;
	}
	.container{
		margin-top: 40px;
		background-color: white;
		height:auto;
		
	}
	.contact-form h2 {
		color: black;
		margin: 0 0 15px;
		position: relative;
		text-align: center;
		font-weight: bold;
	}
	.contact-form input {
		margin-top: 3px;
		text-decoration: none;
	}
	.contact-form .hint-text {
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
	.contact-form{
		width: 650px;
		margin: 0 auto;
		padding: 30px 0;
		  font-size: 15px;
	}
	.contact-form button[type="submit"]{
		background-color: rgb(87, 87, 238);
		color: white;
		width:150px;
		height:35px;
		border-radius: 3px;
		letter-spacing: 0.5px;
		margin-right: 20px;
		border:white
		}
		.contact-form form {
			color: #999;
			border-radius: 3px;
			margin-bottom: 15px;
			background: white;
			box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.26);
			padding: 30px;
			
		}
		.welcome{
			color:purple;
			margin-top: 300px;
			text-align: center;
			font-size:large;
			font-weight: bold;
		}
		.home_2{
			font-weight: bold;
			color:black;
			margin-top: 350px;
			margin-left: 620px;
			text-align: center;
			font-size:xx-large;
		}
	.error_div{
		text-align: center;
		margin-top: 250px;
	}
	 .error_route{
		background-color:rgb(87, 87, 238);
		border-radius:3px;
		color:white;
		text-align: center;
		text-decoration: none;
		height:fit-content;
		padding: 6px 4px;
	}
	.error_route:hover{
		background-color: black;
		color:white;
		text-decoration: none;
	}
	.error_div .errorr{
		font-weight:bold;
		font-size: xx-large;
	}
	.user_detail{
		color:black;
		font-weight: 500;
		
	}
	.welcome_user{
		    color:rgb(12, 44, 85);
			font-family: 'Noto Sans HK', sans-serif;
			text-align: center;
			font-size: 30px;
			font-weight:800;
	}
	
	.box{
		width:25vw;
		height:60vh;
		border-radius: 0.5rem;
		box-shadow:0 0.2rem 3rem rgba(0, 0, 0, 0.2);
		background:#a5bbdd;
		position: relative;
		overflow:hidden;
		transform:translate3d(0,0,0);
		min-width:20rem;
		min-height:35rem;
		margin-top: 50px;
		margin-left: 520px;
	}
	.wave{
		opacity: 0.3;
		position: absolute;
		top: 120%;
		left: 50%;
		background: white;
		width: 50rem;
		height: 50rem;
		margin-left: -25rem;
		margin-top: -20rem;
		transform-origin: 50% 48%;
		border-radius: 43%;
		animation: drift 3000ms infinite linear;
		z-index: 1;
		}
		.wave·⎯three{
			animation:drift 5000ms infinite linear;
			z-index:2 !important;
			opacity:0.2;
		}
		.wave·⎯two{
			animation:drift 7000ms infinite linear;
			z-index:3 !important;
			opacity:0.1;
		}
		.box:after{
			content:"";
			display:block;
			left:0;
			top:0;
			width:100%;
			height:100%;
			z-index:11;
			transform:translate3d(0,0,0);
		}
		.inputFeild{
			width:50%;
			margin:auto;
			border-radius: 5rem;
			padding:1rem 1rem;
			outline: none;
			font-size: 1.5rem;
		}
		.location{
			margin-top: -5rem;
			text-align: center;
			font-weight: 800;
			font-size:xxx-large;
			text-transform: capitalize;
		}
		.fa-street-view{
			animation:rotates 3s linear infinite alternate;
		}
		.inputData{
			width:100%;
			height:10vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.info{
			font-size: 1.3rem;
		}
		@keyframes drift{
			from{
				transform:rotate(0deg);
			}
			from{
				transform:rotate(360deg);
			}
		}
		.temp{	
			font-family: 'Jost', sans-serif;
			text-align: center;
			margin-top: 10px;
		}
		.tempmin_max{
			font-family: 'Jost', sans-serif;
			text-align: center;
			margin-top: 40px;
		}
		.not_found{
			font-family: 'Jost', sans-serif;
			text-align: center;
			font-weight: 700;
			margin-top: 80px;
			font-size: xx-large;
		}
		.digital_clock{
			color:rgb(0, 0, 0);
			font-size: 25px;
			margin-left: 10px;
			
		}
		.countusers{
			text-align: center;
			align-items: center;
			
		}
		ul li{
			text-decoration: none;
		    list-style-type: none;
			
		} 
	li[class="lit"]{
		text-decoration: none;
		    list-style-type: none;
			font-weight: 500;
			padding-top:20px;
	}
	li[class="postedbutton"]{
		text-decoration: none;
		    list-style-type: none;
			font-weight: 400;
	}
	input[value="Posted"]{
		background-color: #04AA6D;
		color:white;
		border:none;
		cursor:none;
		border-radius: 30px;
	}
	input[value="Apply"]{
		background-color: #04AA6D;
		color:white;
		border:none;
		cursor:none;
		border-radius: 30px;
	}
	input[value="Accept"]{
		background-color: #04AA6D;
		width:80px;
		color:white;
		border:none;
		cursor:none;
		border-radius: 30px;
	}